.mobile-container {
    width:100%;
    margin: auto;
    background-color: #ff0911;
    height: 0px;
    color: white;
    border-radius: 10px;
}

.topnav {
    overflow: hidden;
    background-color: #000000;
    position: relative;
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    background: rgba(0, 0, 0, 0.88);
    display: block;
    border-left: 1px white solid;
    position: absolute;
    right: 0;
    top: 0;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #000000;
    color: white;
}
.news {
    border-bottom: 1px solid grey;
}

#h1{
    height: 10px;
    margin-left: 210px;

}
#h6{
    margin-left: 175px;

}

.wrapper{
    background-color: lightgrey;


}
.boxeen{
    margin-top: 50px;

}

.button {
    background-color: #af0d05; /* red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {font-size: 9px;}
.button2 {font-size: 9px;}
.button3 {font-size: 9px;}
.button4 {font-size: 9px;}
.button5 {font-size: 9px;}


.foot{

}

.boxtwee{
    margin-top: 50px;


}

#zoek{
    margin-top: -5px;
    margin-left: 130px;

}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: red;
    font-size: 9px;
}